<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Magic Poker! </title>
  <link rel="icon" type="image/png" href="img/hat.png" />
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/deck.css">

  <script src="js/jquery/jquery-1.7.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/jquery/jquery-ui.min.js"></script>
  <script src="js/jquery/jquery.ui.touch-punch.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <script src="js/sense.js"></script>
  <script src="js/main.js"></script>
  <script src="js/clientController.js"></script>
</head>


<body ng-app="myApp" ng-controller="chipsController">
    <div class="container-fluid" ng-controller="handController">
      <header>
        <button id="leave" class="log" ng-click="entrar = false" ng-model="checked"
          style="color:white; font-weight: bold; float: left; margin: 10px"> 
          <i class="glyphicon glyphicon-log-out"></i>
          &nbsp; <a href="/"> Sair </a>
         </button>

         <div id="gravar" style="color: white; float: right; margin: 20px; padding: 10px">Apostar&nbsp;&nbsp;<i class="glyphicon glyphicon-record"></i></div>
         <div style="color: white; float: right; margin-right: -76px; margin-top: 70px;">00s&nbsp;<i class="glyphicon glyphicon-time"></i></div>


        <div id="bblind"><input id="blind" type="number" style="margin: 20px"/><button id="btnaposta">Apostar</button>
      </header> 
      <ul>
        <li ng-repeat="chip in chips">
          <div class="{{ chip.color }}"></div>
        </li>
      </ul>
      <div ng-repeat="card in sortedCards"
              class="{{card.style}}" style="float: left"></div>
  <footer>
    <div class="row">
      <div id="btn-fold" class="col-xs-4 col-md-4" ng-show="btnToolbar"> <button class="btngrp">Correr</button> </div>
      <div id="btn-call" class="col-xs-4 col-md-4" ng-show="btnToolbar"> <button class="btngrp">Pagar</button> </div>
      <div id="btn-raise" class="col-xs-4 col-md-4" ng-show="btnToolbar" ng-click="btnToolbar = false"> <button class="btngrp">Aumentar</button> </div>
      <input id="aposta" class="col-xs-8" ng-show="!btnToolbar" type="number" placeholder="Valor da aposta"></input>
      <input class="col-xs-4" ng-show="!btnToolbar" type="submit" ng-click="btnToolbar = true"> </input>
    </div>
  <footer>
  </div>
</body>
  <script src="js/client.js"></script>
</html>
