<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/deck.css">
</head>
<body>
<div class="card ace_clubs"></div>
<div class="card two_clubs"></div>
<div class="card three_clubs"></div>
<div class="card four_clubs"></div>
<div class="card five_clubs"></div>
<div class="card six_clubs"></div>
<div class="card seven_clubs"></div>
<div class="card eight_clubs"></div>
<div class="card nine_clubs"></div>
<div class="card ten_clubs"></div>
<div class="card jack_clubs"></div>
<div class="card queen_clubs"></div>
<div class="card king_clubs"></div>
<br />
<div class="card ace_hearts"></div>
<div class="card two_hearts"></div>
<div class="card three_hearts"></div>
<div class="card four_hearts"></div>
<div class="card five_hearts"></div>
<div class="card six_hearts"></div>
<div class="card seven_hearts"></div>
<div class="card eight_hearts"></div>
<div class="card nine_hearts"></div>
<div class="card ten_hearts"></div>
<div class="card jack_hearts"></div>
<div class="card queen_hearts"></div>
<div class="card king_hearts"></div>
<br />
<div class="card ace_spades"></div>
<div class="card two_spades"></div>
<div class="card three_spades"></div>
<div class="card four_spades"></div>
<div class="card five_spades"></div>
<div class="card six_spades"></div>
<div class="card seven_spades"></div>
<div class="card eight_spades"></div>
<div class="card nine_spades"></div>
<div class="card ten_spades"></div>
<div class="card jack_spades"></div>
<div class="card queen_spades"></div>
<div class="card king_spades"></div>
<br />
</body>